* {
    font-family: Arial, Helvetica, sans-serif, 'Courier New', Courier, monospace;
    font-size: 12pt;
    box-sizing: border-box;
}

body { 
    color: lightblue; 
    background-color: white; 
    opacity: 0.9;
    display: block;
    text-align: center;
    position: center;
    align-content: center;
    position: relative;
}

h2 {
    color: grey;
}

.Emily {
    font-weight: bolder;
    font-size: 120%;
}

nav {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    color: white;
    padding: 10px 20px;
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* Change the weight of links on hover */
.nav a:hover {
    font-weight: bold;
  }

nav .btn {
    cursor: pointer;
    border: none;
    color: white;
    background-color: lightblue;
}

a:hover .btn {
    cursor: pointer;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    background-color: lightblue;

}

#Main {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
  
a:visited {
    text-decoration: none;
}

.profile-picture {
    max-height: 250px;
    border-radius: 50%;
    float: center;
    margin: 0 50px 0 0;
}

img {
    max-height: 300px;
}


#project-list li{
    display: inline;
}

#vegan-corner {
    border-radius: 50%;
    max-height: 260px;
}

#britinbilbao {
    border-radius: 50%;
    max-height: 260px;
}

.e {
    color: grey;
    font-size: 10px;
    text-align: left;
    margin: 10% 10%;
}

p.date {
    display: inline;
    font-size: 10pt;
    font-style: italic;
}

h3.date {
    display: inline-block;
    font-size: 13pt;
    font-weight: bold; 
}

.odd {
    background-color: lightblue;
    color: white;
}

.even {
    color: grey;
}

#Get-In-Touch {
    max-width: 500px;
}

#CV {
    margin: 10px 10px;
}

/* Download buttons at bottom */
#Get-In-Touch .btn {
    background-color: white;
    border: none;
    color: lightblue;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 25px;
}
  
/* Darker background on mouse-over */
#Get-In-Touch .btn:hover {
    font-size: 80%;
}

/* Style for social icons */
.fa {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background: white;
    color: lightblue;
    position: fixed;
    display: block; 
    border-color: lightblue;
    border-style: solid;
    border-width: 1px;
}

#linkedin {
    bottom: 120px;
    left: 10px;
}

#github {
    bottom: 60px;
    left: 10px;
}

/* This is the line below social */
#social {
    position: fixed;
    bottom: 10px;
    left: 36px;
    width: 1px;
    height: 45px;
    border-color: lightblue;
    border-style: solid;
    border-width: 1px;
}

.fa:hover {
    opacity: 0.7;
}


footer {
    background-color: lightblue;
}

footer p {
    font-family: "Lucida Console", Courier, monospace;
    color: white;
}




