* {
    font-family: Arial, Helvetica, sans-serif, 'Courier New', Courier, monospace;
    font-size: 12pt;
    box-sizing: border-box;
}

body { 
    color: lightblue; 
    background-color: white; 
    opacity: 0.9;
    display: block;
    text-align: center;
    position: center;
    align-content: center;
    position: relative;
}

#collapsibleNavbar li {
    float: right;
}

#carouselExampleIndicators {
    opacity: 0.8;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

h2 {
    color: grey;
}

a:hover .btn {
    cursor: pointer;
    border-radius: 25px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    background-color: lightblue;

}

#Main {
    margin-top: 100px;
    max-width: 80%;
}
  
a:visited {
    text-decoration: none;
}

.profile-picture {
    max-height: 250px;
    border-radius: 50%;
    float: center;
    top: 20px;
}

.project-list li {
    display: inline;
    margin: 10px 10px 10px 10px;
}

.project-list img {
    max-height: 260px;
    position: center;
}

#vegan-corner {
    border-radius: 50%;
    border-width: 5px;
    border-color: lightblue;
    margin: 10px 10px 10px 10px;
}

#vegan-corner img {
    border: 5px solid #555;
}

#britinbilbao {
    border-radius: 50%;
    max-height: 260px;
    margin: 10px 10px 10px 10px;
}

.e {
    color: grey;
    font-size: 10px;
    text-align: left;
}

p.date {
    display: inline;
    font-size: 10pt;
    font-style: italic;
}

h3.date {
    display: inline-block;
    font-size: 13pt;
    font-weight: bold; 
}

.odd {
    background-color: lightblue;
    color: white;
}

.even {
    color: grey;
}

#Get-In-Touch {
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}

#CV img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 100px;

}

#CV img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}


/* Download buttons at bottom */
#Get-In-Touch .btn {
    background-color: white;
    border: none;
    color: lightblue;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 25px;
}
  
/* Darker background on mouse-over */
#Get-In-Touch .btn:hover {
    font-size: 80%;
}

/* Style for social icons */
.fa {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background: white;
    color: lightblue;
    position: fixed;
    display: block; 
    border-color: lightblue;
    border-style: solid;
    border-width: 1px;
}

#linkedin {
    bottom: 70px;
    left: 10px;
}

#github {
    bottom: 10px;
    left: 10px;
}

.fa:hover {
    opacity: 0.7;
}


footer {
    background-color: lightblue;
    padding: 20px 20px;
}

footer p {
    font-family: "Lucida Console", Courier, monospace;
    color: white;
}




